* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #326273;
  font-family: "Roboto", sans-serif;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}
